/* 信息头部 */
.info-header{
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: gray;
}
.info-icon{
	width: 150px;
	height: 150px;
	border-radius: 50% 50%;
}
.info-name{
	margin-top: 10px;
}
.info-brief{
	margin-top: 10px;
	margin-bottom: -30px; 
}

/* 信息主体 */
.info-content{
	min-height: 550px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: orange;
}
.info-item{
	width: 330px;
	height: 400px;
	border-radius: 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: skyblue;
}
.info-item-content{
	width: 330px;
	height: 300px;
	padding-left: 30px;
	padding-right: 30px;
}

/* 个人信息栏 */
.info{
	padding-left: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.info-line{
	list-style: none;
}
.info-line span{
	display: inline-block;
	text-align: center;
	width: 135px;
}

/* 弹窗 */
.modal-body{
	height: 180px;
}
.modal-body .form-control{
	margin-bottom: 20px;
}