footer
	.container
		.copyright 	Copyright &copy; 2016
			a.sina(href="http://weibo.com/u/3300075617/home?wvr=5",target="_blank") vecchio阿加西
			null All Rights Reserved.
		.address 
			a(href="http://www.cqupt.edu.cn/cqupt/index.shtml",target="_blank") 地址:重庆市南岸区崇文路2号邮电大学 
			| &nbsp;&nbsp;&nbsp; 邮编:400065 
			| &nbsp;&nbsp;&nbsp; 联系方式:18883285092